<% url = ( @page.new_record? ? landing_cat.admin_pages_path : landing_cat.admin_page_path( @page ) ) %>
<% method = ( @page.new_record? ? :post : :put ) %>

<%= form_for( @page, :url => url, :method => method ) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label( :experiment_id ) %>
      <% options = SplitCat::Experiment.order( 'name asc').pluck( :name, :id  ) %>
      <%= f.select( :experiment_id, options_for_select( options, @page.experiment_id ) ) %>
    </div>

    <div class="form-group">
      <%= f.label( :experiment_type ) %>
      <%= f.select( :experiment_type, options_for_select( [ 'a', 'b' ], @page.experiment_type ) ) %>
    </div>

    <div class="form-group">
      <%= f.label( :weight ) %>
      <%= f.text_field( :weight, :size => 4 ) %>
    </div>

    <% ( @page.editable_attributes ).each do |attribute| %>
        <div class="form-group">
          <%= f.label( attribute ) %>
          <%= f.text_area( attribute, :size => '60x2' ) %>
        </div>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
