<h1>Listing pages</h1>

<table border="1">
  <thead>
    <tr>
      <th>Experiment</th>
      <th>Type</th>
      <th>Weight</th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.experiment.name, landing_cat.shortcut_url( :name => page.experiment.name )  %></td>
        <td><%= page.experiment_type %></td>
        <td><%= page.weight %></td>
        <td><%= link_to 'Show', landing_cat.page_path( page ), :target => '_NEW' %></td>
        <td><%= link_to 'Edit', landing_cat.edit_admin_page_path( page ) %></td>
        <td><%= link_to 'Destroy', landing_cat.admin_page_path( page ), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', landing_cat.new_admin_page_path %>
