<p id="notice"><%= notice %></p>

<div class="form-group">
    <label><%= t :id  %>:</label>
    <%= @page.id %>
</div>

<div class="form-group">
    <label><%= t :name  %>:</label>
    <%= @page.name %>
</div>

<div class="form-group">
    <label><%= t :experiment_id %>:</label>
    <%= @page.experiment_id %>
</div>

<div class="form-group">
    <label><%= t :a %>:</label>
    <%= @page.a %>
</div>

<div class="form-group">
    <label><%= t :b %>:</label>
    <%= @page.b %>
</div>

<div class="form-group">
    <label><%= t :multivariate %>:</label>
    <%= @page.multivariate %>
</div>

<div class="form-group">
    <label><%= t :heading  %>:</label>
    <%= @page.heading %>
</div>

<div class="form-group">
    <label><%= t :body %>:</label>
    <%= @page.body %>
</div>

<div class="form-group">
    <label><%= t :call_to_action %>:</label>
    <%= @page.call_to_action %>
</div>

<%= link_to 'Edit', edit_admin_page_path(@page) %> |
<%= link_to 'Back', admin_pages_path %>
