<h1>Listing campaigns</h1>

<table border="1">
  <thead>
    <tr>
      <th>id</th>
      <th>utmcsr</th>
      <th>utmcmd</th>
      <th>utmctr</th>
      <th>utmcct</th>
      <th>utmccn</th>
      <th>utmgclid</th>
      <th>created_at</th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.id %></td>
        <td><%= campaign.utmcsr %></td>
        <td><%= campaign.utmcmd %></td>
        <td><%= campaign.utmctr %></td>
        <td><%= campaign.utmcct %></td>
        <td><%= campaign.utmccn %></td>
        <td><%= campaign.utmgclid %></td>
        <td><%= campaign.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @campaigns %>

<br>
