<h1>Listing leads</h1>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Created at</th>
    </tr>
  </thead>

  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <th><%= lead.id %></th>
        <th><%= lead.email %></th>
        <th><%= lead.created_at %></th>
        <td><%= link_to 'Show', landing_cat.admin_lead_path( lead ) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @leads %>
