<p id="notice"><%= notice %></p>

<div class="form-group">
    <label><%= t :id  %>:</label>
    <%= @lead.id %>
</div>

<div class="form-group">
    <label><%= t :email  %>:</label>
    <%= @lead.email %>
</div>

<div class="form-group">
    <label><%= t :campaign  %>:</label>
    <%= @lead.campaign_id %>
</div>

<div class="form-group">
    <label><%= t :page  %>:</label>
    <%= @lead.page_id %>
</div>

<%= link_to 'Back', admin_leads_path %>
