<p id="notice"><%= notice %></p>

<div class="form-group">
    <label><%= t :id  %>:</label>
    <%= @lead.id %>
</div>

<div class="form-group">
    <label><%= t :email  %>:</label>
    <%= @lead.email %>
</div>

<div class="form-group">
    <label><%= t :message  %>:</label>
    <%= @lead.message %>
</div>

<div class="form-group">
    <label><%= t :page  %>:</label>
    <%= @lead.page_id %>
</div>

<div class="form-group">
    <label><%= t :utmcsr  %>:</label>
    <%= @lead.campaign.utmcsr if @lead.campaign %>
</div>

<div class="form-group">
    <label><%= t :utmcmd  %>:</label>
    <%= @lead.campaign.utmcmd if @lead.campaign %>
</div>

<div class="form-group">
    <label><%= t :utmctr  %>:</label>
    <%= @lead.campaign.utmctr if @lead.campaign %>
</div>

<div class="form-group">
    <label><%= t :utmcct  %>:</label>
    <%= @lead.campaign.utmcct if @lead.campaign %>
</div>

<div class="form-group">
    <label><%= t :utmccn  %>:</label>
    <%= @lead.campaign.utmccn if @lead.campaign %>
</div>

<div class="form-group">
    <label><%= t :utmgclid  %>:</label>
    <%= @lead.campaign.utmgclid if @lead.campaign %>
</div>

<%= link_to 'Destroy', landing_cat.admin_lead_path( @lead ), method: :delete, data: { confirm: 'Are you sure?' } %>
|
<%= link_to 'Back', landing_cat.admin_leads_path %>
